@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 179 68% 100%;
    --foreground: 179 79% 0%;
    --muted: 179 21% 85%;
    --muted-foreground: 179 3% 39%;
    --popover: 179 68% 100%;
    --popover-foreground: 179 79% 0%;
    --card: 0 0% 99%;
    --card-foreground: 0 0% 0%;
    --border: 179 9% 95%;
    --input: 179 9% 95%;
    --primary: 179 64% 14%;
    --primary-foreground: 179 64% 54%;
    --secondary: 179 2% 89%;
    --secondary-foreground: 179 2% 29%;
    --accent: 179 2% 89%;
    --accent-foreground: 179 2% 29%;
    --destructive: 7 95% 28%;
    --destructive-foreground: 7 95% 88%;
    --ring: 179 64% 14%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 179 41% 4%;
    --foreground: 179 37% 99%;
    --muted: 179 21% 15%;
    --muted-foreground: 179 3% 61%;
    --popover: 179 41% 4%;
    --popover-foreground: 179 37% 99%;
    --card: 179 41% 5%;
    --card-foreground: 0 0% 100%;
    --border: 179 9% 12%;
    --input: 179 9% 12%;
    --primary: 179 64% 14%;
    --primary-foreground: 179 64% 54%;
    --secondary: 179 2% 19%;
    --secondary-foreground: 179 2% 79%;
    --accent: 179 2% 19%;
    --accent-foreground: 179 2% 79%;
    --destructive: 7 95% 59%;
    --destructive-foreground: 0 0% 100%;
    --ring: 179 64% 14%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance font-brand;
  }
  p {
    @apply text-pretty font-sans;
  }
}
